doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/angular.js')
  body(ng-app="")
    h1 2^5 = {{2*2*2*2*2}}
    block content
