doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/angular.js')
    meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    //- (ng-app="")
    //- h1 2^5 = {{2*2*2*2*2}}
    block content
    script(src='bower_components/three.js/build/three.js')
    script(src='bower_components/threex.windowresize/threex.windowresize.js')
    script(src='javascripts/orbitcontrols.js')
    script(src='javascripts/webgltest.js')